* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}
/* general */
body {
  background-color: black;
  font-family: 'Poppins', sans-serif;
}

h2{
font-size: 20px;
color: white;
margin-left: 20px;
}
.text p{
  margin-left: 20px;
  font-size:70%;
  color: #7E7E7E;
}
.text{
  margin-bottom: 15px;
}
/* wrapper */
.wrapper {
  width: 100%;
  height: 100vh;
  /* background-color: red; */
}

/* Fixed */
/* footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: pink;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: calc(100% - 90px);
  background: blue;
}
.main-content {
  width: calc(100% - 320px);
  margin-left: 320px;
  padding: 20px;
} */

/* Float */
/* .main {
  height: calc(100% - 90px);
  overflow: hidden;
}
.main:after {
  content: '';
  display: table;
  clear: both;
}
.main-nav {
  float: left;
  width: 320px;
  height: 100%;
  background: blue;
}
.main-content {
  float: left;
  width: calc(100% - 320px);
  height: 100%;
  background-color: orange;
  overflow-y: scroll;
} */


/* Flex */
.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 90px);
  overflow: hidden;
}
/* main nav */
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 100%;
  background: blue;
}
.main-nav-header {
  background-color: purple;
}
.main-nav-main {
  min-height: 150px;
  overflow-y: auto;
  flex-grow: 2;
  background-color: lime;
}
.playlist {

}
.main-nav-footer {
  background-color: brown;
}

/* main content */
.main-content {
  width: calc(100% - 320px);
  height: 100%;
  background-color: #282B34;
  overflow-y: scroll;
  padding-top: 100px;
}

/* call to action */

.call-to-action {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 320px);
  height: 90px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
.btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  color: white;
  padding: 10px 70px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 80px;
  border: 1px solid white;
}
/* page selection */

/* selection menu */
.selection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.pages{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pages li{
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
}
.pages li a{
  text-decoration: none;
  font-size: 12px;
  color: #7E7E7E;
  margin-left: 10px;
}
.pages li a:first-child{
  text-align: center;
}
#bar{
  height: 3px;
  width: 50%;
  border-radius: 80px;
  margin: 0 auto;
  background-color: #64D761;
}
/* effetto apparizione barra al click (in sospeso) */
.bar_hidden{
  display: none;
  height: 3px;
  width: 50%;
  border-radius: 80px;
  margin: 0 auto;
  background-color: #64D761;
}
.pages li a:hover{
  color: white;
}
/* album menu */
.first_row h2:hover{
  text-decoration: underline;
  cursor: pointer;
}
.first_row{
  margin-bottom: 40px;
}
.first_row h2{
  margin-bottom: 15px;
}
.album{
  display: flex;
  justify-content: space-between;
  margin: auto 20px;
}
.album .album_box{
  flex-basis: 160px;
}
.img_album{
  position: relative;
}
.layover{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 97%;
  background-color: rgba(0,0,0,0.5);
  display: none;
}
.fa-play-circle{
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 300%;
}

.album_box:hover .fa-play-circle{
  visibility: visible;
}
.album_box:hover .layover{
  display: block;
}
.img_album img{
  width: 100%;

}
.subtitle{
  text-align: center;
}
.subtitle p{
  font-size:60%;
  color: #7E7E7E;
}
.subtitle p:first-child{
  font-weight: bold;
  font-size: 80%;
  color: white;
}

/* second row */
.second_row{
  margin-bottom: 40px;
}
.album_second,
.album_third{
  display: flex;
  justify-content: space-between;
  margin: auto 20px;
  width: 31%;
}
.album_second .album_box,
.album_third .album_box{
  flex-basis: 160px;
}

/* third row */
.third_row{
  margin-bottom: 40px;
}
.album_third .album_box img{
  border-radius: 50%;
}
.third_row .layover{
  border-radius: 50%;
}
/* footer */
.footer {
  width: 100%;
  height: 90px;
  background-color: #282828;
}
.footer_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
}

/* running song */
.running_song{
  display: flex;
  flex-basis: 60px;
  margin-left: 10px;
}
.left_box_footer{
  display: flex;
  align-items: center;
}
.left_box_footer li{
  /* display: inline-block; */
  list-style: none;
  margin-right: 10px;
}
.left_box_footer li:last-child{
  margin-left: 20px;
  color: #7E7E7E
}
#footer_list_title{
color: white;
}
#footer_list_subtitle{
  font-size: 10px;
  white-space: nowrap;
  color: #7E7E7E;
}
.left_box_footer img{
  width: 60px;
}
